langgraph

# LangChain ecosystem (all compatible)
langchain
langchain-core
langchain-google-genai
langchain-openai
langchain-community

# GenAI
google-generativeai
openai

# News + support
newsapi-python
python-dotenv
ipywidgets

#Streamlit for gui
streamlit
